<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"  
   "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="product1" class="cn.rocky.SayHello"></bean>
    
	<bean id="product" class="cn.rocky.Production">
		<property name="name" value="JueLance" />
	</bean>
    
    <bean id="staticDate" class="java.util.Calendar" factory-method="getInstance">

    </bean>
    
</beans>  

